/* === Farben === */

/*
Dunkel Grau:  #18191A
Orange:       #c05b08
helles orange:#ffbf80
hell grau:    #E5E5E5
mittel Grau:  #3D3F45
instagram:    #9b6954
Soundcloud:   #ff8800
Youtube:  	  #FF0000
 */

/* === GLOBAL === */

body {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Rubik', sans-serif;
}

*{
  box-sizing: border-box;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 5px 1px #c05b08, 0 0 10px #E5E5E5;
  border-radius: 3px;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 1370px) {
  section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* === GENERELLES === */
@font-face {
  font-family: 'beatstars-icon';
  src:
    url('./fonts/beatstars-icon.ttf?bk3dtv') format('truetype'),
    url('./fonts/beatstars-icon.woff?bk3dtv') format('woff'),
    url('./fonts/beatstars-icon.svg?bk3dtv#beatstars-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'beatstars-icon' /*!important*/;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pj-beatstars:before {
  content: "\e900";
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.active {
  text-decoration: none;
  border-bottom: 1px solid #EEA754;
  color: #EEA754;
}

.active-mobile {
  text-decoration: underline overline;
  color #EEA754;
}

/* .wichtiger-text {
  font-weight: bold;
}*/

.screenreader {
  display: none;
}

.btn-typ-1 {
  border: 1px solid #EEA754;
  background-color: #EEA75482;
  padding: .5rem .8rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-typ-1:hover {
  box-shadow: 0 5px 25px #EEA7545e, 0 0 15px #EEA7545e;
  background-color: #EEA754 ;
  opacity: .8;
}

.btn-typ-2 {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: .4rem .6rem;
}

.btn-typ-2:hover {
  color: #c05b08;
  font-weight: bold;
  border: 1px solid #c05b08;
  box-shadow: 0 0 5px #E5E5E5;
}

/* === NAVIGATIONSLEISTE === */

#header-nav {
  width: 100%;
  height: 50px;
  background-color: #18191A;
  position: relative;
}

#header-nav a > img {
  height: 45px;
  width: auto;
  margin: .156rem;
  float: left;
}

#header-nav ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
}

#header-nav ul >li {
  margin: 0 1rem;
  display: inline-block;
}

#header-nav ul > li > a {
  display: inline-block;
  margin-top: 1rem;
}

#header-nav ul > li > a:link {
  color: #FFF;
  text-decoration: none;
}

 #header-nav ul > li > a:visited {
  color: #FFF;
  text-decoration: none;
}

#header-nav ul > li > a:active {
  color: #FFF;
  text-decoration: none;
}

#header-nav ul > li > a:hover {
  text-decoration: none;
  border-bottom: 1px solid #EEA754;
  color: #EEA754;
}

#header-nav .col-6 {
  padding-top: 0;
  padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
  height: 100%;
}

.logo-link {
  display: inline-block;
}

/* ===NAVIGATIONASLEISTE (MOBIL) === */

#mycheckbox {
  display: none;
}

.menu-toggler {
  color: #FFF;
  float: right;
  font-size: 2rem;
  border: 2px solid #FFF;
  width: 37px;
  height: 37px;
  position: relative;
  margin-top: .4rem;
  margin-bottom: 6.5px;
  position: relative;
}

.menu-toggler > i {
  position: absolute;
  font-size: 1.6rem;
  left: 5.4px;
  top: 4px;
  font-weight: 100;
  cursor: pointer;
}

#mobile-nav-content > ul > li {
  display: block;
  background-color: #18191A;
  height: 50px;
  padding: 0 1.2rem;
  text-align: center;
  margin: 0;
}

#mobile-nav-content {
  position: fixed;
  right: 0;
  top: 50px;
  right: -25rem;
  transition: all 650ms;
  display: flex;
}

#mycheckbox:checked + #mobile-nav-content{
  right: 0;
}

@media (max-width: 768px) {
  #desktop-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  #desktop-nav {
    display: block;
  }
}

@media (max-width: 768px) {
  #mobile-nav {
    display: block;
  }
}
@media (min-width: 768px) {
  #mobile-nav {
    display: none;
  }
}
	/* === HEADER-BANNER === */

#header-banner {
  width: 100%;
  height: 0;
  padding-top: 20.8375%; /*16.5298945  wäre richtig aber weißer rand || mit 21.9791667 klappts*/
  background: url("../img/Fiver-banner.jpg") no-repeat;
  background-size: contain;
  -webkit-backround-size: cover;
  -moz-backround-size: cover;
  -o-backround-size: cover;
 }

 /* #header-banner {
   width: 100%;
   height: 0;
   padding-top: 20.8375%;                           ===16.5298945wäre richtig aber weißer rand || mit 21.9791667 klappts===
   background: url("../img/Fiver-banner.jpg") no-repeat;
   background-size: contain;
  }*/


/* ===NEWSLETTER-BEREICH === */

#newsletter-bereich {
  width: 100%;
  background: #18191A ;
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: 1px solid #000;
}

#nb-werbetext {
  color: #FFF;
  font-size: 1.2rem;
}

#nb-form {
  margin-top: .7rem;
  float: right;
  width: 100%;
  text-align: right;
}

.screenreader {
  color: #FFF;
}

#nb-email-input {
  width: 78%;
  height: 35px;
  background-color: #EEA75482;
  border: 1px solid #EEA754;
  border-radius: 5px;
  padding: .6rem;
}

#nb-email-input::-moz-placeholder {
  color: #18191A;
}

#nb-email-input:-ms-input-placeholder {
  color: #18191A;
}

#nb-email-input::placeholder {
  color: #18191A;
}

#nb-email-input:hover {
  border: 1px solid #EEA754;
  box-shadow: 0 5px 25px #EEA7545e, 0 0 15px #EEA7545e;
  background-color: #EEA75482;
}

#nb-btn {
  font-weight: bold;
}

@media (max-width: 768px) {
  #nb-werbetext {
    margin-top: .5rem;
  }
}

@media (max-width: 1486px) {
  #nb-email-input {
    width: 70%;
  }
}

@media (max-width: 1384px) {
  #newsletter-bereich .col-4 {
    text-align: center;
  }
}

@media (max-width: 1128px) {
  #nb-email-input {
    width: 100%;
    margin-bottom: .5rem;
  }
  #nb-btn {
    width: 100%;
  }
  #newsletter-bereich .col-4 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #nb-form {
    margin-top: 0%;
  }
  #newsletter-bereich .col-4{
    padding: 0;
    text-align: center;
  }
  #nb-werbetext {
    margin-bottom: 0%;
  }
}

/* === ABOUT-ME === */

#leistungen-bereich {
 background-image: linear-gradient(to bottom, #6b695461, #767f83, #687074, #5a6166, #4d5258, #44484e, #3c3e44, #33353a, #2c2e32, #25272a, #1e2022, #18191a);
 /* background-image: linear-gradient(to bottom, #9b6954, #767f83 6%, #000 59%); */
}

.intro-container {
  color: #fff;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 15px 20px 5px black;
}

.intro-container > h1 {
  font-size: 1.6rem;
}

.intro-container > p {
  font-size: 1.2rem;
  font-style: oblique;
  letter-spacing: .8px;
}

.intro-container > p > span {
  border-bottom: 1px solid #fff;
}

.intro-container > h2 {
  margin-top: 3rem;
}

.intro-container > h1 h2 {
  text-shadow: 15px 20px 5px black;
}


@media (max-width: 1600px) {
  .intro-container {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .intro-container {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .intro-container {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .intro-container > h1 {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .intro-container > h2 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

#leistungen-bereich > .container > .row > .col-6 > .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul {
  position: relative;
  display: flex;
  padding-left: 0;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li {
  position: relative;
  list-style-type: none;
  margin: 0 3rem;
  cursor: pointer;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li > a {
  text-decoration: none;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li > a > .fa {
  font-size: 6em;
  color: #18191Ad5;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li > a > .pj-beatstars {
  font-size: 6em;
  color: #18191Ad5;
  height: 6px;
  width: auto;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li::before {
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(1)::before {
  font-family: beatstars-icon;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
  height: -10px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-child(1)::before {
  pointer-events: none;
  top: 0;
  content: '\e900';
  font-size: 6em;
  color: #EEA754be;
  border-bottom: 4px solid #EEA754;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-child(2)::before {
  pointer-events: none;
  content: '\f16a';
  color: #EEA754be;
  border-bottom: 4px solid #EEA754;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-child(3)::before {
  pointer-events: none;
  content: '\f1be';
  color: #EEA754be;
  border-bottom: 4px solid #EEA754;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-child(4)::before {
  pointer-events: none;
  content: '\f16d';
  color: #EEA754be;
  border-bottom: 4px solid #EEA754;
}

#leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:hover::before {
  height: 110%;
}

@media (max-width: 800px) {
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li > a > .fa {
    font-size: 4em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li > a > .pj-beatstars {
    font-size: 4em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li::before {
    font-size: 4em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(1)::before {
    font-size: 4em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(2)::before {
    font-size: 4em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(3)::before {
    font-size: 4em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(4)::before {
    font-size: 4em;
  }
}

@media (max-width: 650px) {
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li > a > .fa {
    font-size: 3em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li > a > .pj-beatstars {
    font-size: 3em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li::before {
    font-size: 3em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(1)::before {
    font-size: 3em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(2)::before {
    font-size: 3em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(3)::before {
    font-size: 3em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(4)::before {
    font-size: 3em;
  }
}

@media (max-width: 586px) {
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li {
    margin: 0 2rem;
  }
}

@media (max-width: 449px) {
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li {
    margin: 0 1rem;
  }
}

@media (max-width: 332px) {
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li > a > .fa {
    font-size: 2em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li > a > .pj-beatstars {
    font-size: 2em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li::before {
    font-size: 2em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(1)::before {
    font-size: 2em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(2)::before {
    font-size: 2em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(3)::before {
    font-size: 2em;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li:nth-of-type(4)::before {
    font-size: 2em;
  }
}

@media (max-width: 260px) {
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li {
    margin: 0 .5rem;
  }
}


/* @media (max-width: 800px) {
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul {
    display: block;
  }
  #leistungen-bereich > .container > .row > .col-6 > .icons > ul > li {
    padding-top: 2rem;
  }
} */

/* === VIDEO-BEREICH === */

#video-bereich {
   background: linear-gradient(to bottom, #18191A, #000 55%, #18191A );
  /* background: linear-gradient(to bottom, #000 60%, #18191A ); */
  /* border-top: 1px solid #fff; */
  /* border-bottom: 1px solid #fff; */
}

/* #video-bereich .row {
  border: 4px solid #fff;
  border-radius: 30px;
} */

.video-text-container {
  width: 50%;
  padding: 1rem 3rem 2.5rem;
  margin-top: 3.2rem;
  border: .5px solid #fff;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 0 30px 10px #000;
}

.video-text-container  h1 {
  letter-spacing: 2px;
  font-weight: bold;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 0 30px 10px #000;
}

.max-width-video-section {
  max-width: 70%;
}

#video-bereich .row > .col-3 > .video-text-container {
 margin-left: 42.5%;
 margin-right: auto;
}

#video-bereich .row > .col-3 > .max-width-video-section {
  margin-left: auto;
  margin-right: 35%;
}

@media (max-width: 1741px) {
  .video-text-container {
    margin-top: 1.1rem;
  }
}

@media (max-width: 1630px) {
  .max-width-video-section {
    margin-top: 1.1rem;
  }
}

@media (max-width: 1600px) {
  .video-text-container {
    width: 80%;
    margin-top: 4.2rem;
  }
  #video-bereich .row > .col-3 > .video-text-container {
   margin-left: 19%;
  }
  #video-bereich .row > .col-3 > .max-width-video-section {
    margin-right: 21%;
  }
}

@media (max-width: 1370px) {
  .video-text-container {
    width: 65%;
    margin-top: 2rem;
  }
  #video-bereich .row > .col-3 > .video-text-container {
   margin-left: 25%;
  }
}

@media (max-width: 1261px) {
  .max-width-video-section {
    margin-top: 2.5rem;
  }
  .video-text-container {
    width: 65%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1110px) {
  .max-width-video-section {
    max-width: 100%;
  }
  #video-bereich .row > .col-3 > .max-width-video-section {
    margin-right: 14.5%;
  }
}

@media (max-width: 971px) {
  .video-text-container {
    padding-bottom: .3rem;
    padding-top: 0;
  }
  #video-bereich .row > .col-3 > .video-text-container {
   margin-left: 20%;
  }
  #video-bereich .row > .col-3 > .max-width-video-section {
    margin-right: 7%;
  }
}

@media (max-width: 900px){
  #video-bereich .row > .col-3 > .max-width-video-section {
    margin-right: 0;
  }
}

@media (max-width: 846px) {
  .max-width-video-section {
    margin-top: 5rem;
  }
  #video-bereich .row > .col-3 > .video-text-container {
   margin-left: 16%;
  }
}

@media (max-width: 768px) {

  .video-text-container{
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
  }
  #video-bereich .row > .col-3 > .video-text-container {
   margin-left: 0;
   width: 100%;
   margin-top: 1.5rem;
  }
  .max-width-video-section {
    margin-top: 0rem;
    width: 80%;
    padding-bottom: 4%;
  }
  #video-bereich .row > .col-3 > .max-width-video-section {
    margin-right: 10%;
  }
}


/* === TRACK-LIST === */

#tracklist {
  background: linear-gradient(to bottom, #18191a, #000 10%);
  font-weight: normal;
  color: #fff;
}

#tracklist header {
  text-align: center;
  letter-spacing: .25rem;
}

#tracklist header h1 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0;
}

#tracklist header p:nth-of-type(1) {
  line-height: 26px;
  font-weight: 500;
  padding: 0 130px;
}

#tracklist header p:nth-of-type(2) {
  display: none;
}

#tracklist nav {
  display: inline-block;
  width: 100%;
  border-top: 1px solid;
}

#tracklist nav ul {
  padding-left: 0
}

#tracklist nav ul.left {
  float: left;
}

#tracklist nav ul.right {
  float: right;
}

#tracklist nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}

#tracklist nav ul li:last-child {
  margin-right: 0;
}

#tracklist nav ul li a {
  text-decoration: none;
  color: #fff;
}

#tracklist .autoplay-btn label {
  display: flex;
  align-items: center;
}

#tracklist .autoplay-btn h5 {
  margin: 0;
  font-weight: 500;
}

#tracklist .autoplay-btn span {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  border: 2px solid #ff8800;
  border-radius: 50px;
  margin-left: 5px;
  transition: all ease 0.5s;
}

#tracklist .autoplay-btn span::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 15px;
  background: #ff8800;
  border-radius: 50px;
  top: 3px;
  left: 4px;
  transition: all ease 0.5s;
}

#tracklist .autoplay-btn input:checked ~ span {
  border-color: #F89C32;
  box-shadow: 0 5px 25px rgb(255 179 93 / .5),  0 0 25px rgb(255 179 93 / .5);
  background: rgb(255 179 93 / .2);
}

#tracklist .autoplay-btn input:checked ~ span::before {
  left: 36px;
  box-shadow: 0 5px 25px rgb(255 179 93 / .5),  0 0 25px rgb(255 179 93 / .5);
  background: #F89C32;
}

#tracklist .autoplay-btn input {
  display: none;
}

#tracklist .tracklist-content {
  margin-top: 30px;
}

#tracklist .tracklist-content .title {
  border: 1px solid #EEA754;
  box-shadow: 0 5px 25px #EEA7545e, 0 0 15px #EEA7545e;
  background-color: #EEA75482;
  color: #fff;
  padding: 20px 5px;
  border-radius: 10px;
  display: flex;
}

#tracklist .tracklist-content .title span {
  font-size: 20px;
}

#tracklist .tracklist-content .title span:nth-child(1),
#tracklist .tracklist-content .list_block span:nth-child(1) {
  width: 8%;
}

#tracklist .tracklist-content .title span:nth-child(2),
#tracklist .tracklist-content .list_block span:nth-child(2) {
  width: 35%;
}

#tracklist .tracklist-content .title span:nth-child(3),
#tracklist .tracklist-content .list_block span:nth-child(3) {
  width: 20%;
}

#tracklist .tracklist-content .title span:nth-child(4),
#tracklist .tracklist-content .list_block span:nth-child(4) {
  width: 28%;
}

#tracklist .tracklist-content .title span:nth-child(5),
#tracklist .tracklist-content .list_block span:nth-child(5) {
  width: 25%;
}

#tracklist .tracklist-content .title span:nth-child(6),
#tracklist .tracklist-content .list_block span:nth-child(6) {
  width: 25%;
}

#tracklist .tracklist-content .list_block span:nth-child(6) {
  padding-right: 16rem;
}

#tracklist .tracklist-content .title span:nth-child(7),
#tracklist .tracklist-content .list_block span:nth-child(7) {
  width: 10%;
}

#tracklist .tracklist-content .list_block {
  position: relative;
  padding: 20px 5px;
  background: #18191a;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

#tracklist .tracklist-content .list_block span {
  font-size: 1rem;
  font-weight: 400;
}

#tracklist .tracklist-content .list_block .shopping_btn {
  position: absolute;
  right: 30px;
}

#tracklist .tracklist-content .list_block a:link {
color: #fff!important;
}

#tracklist .tracklist-content .list_block a:visited {
color: #fff!important;
}

#tracklist .tracklist-content .list_block a:active {
color: #fff!important;
}

#tracklist .tracklist-content .list_block a:hover{
  color: #fff;
  opacity: .7;
}

/* BEAT-ANIMATION */

#tracklist .tracklist-content .beat_animation ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

#tracklist .tracklist-content .beat_animation ul li {
  list-style: none;
  height: 40px;
  width: 3px;
  background-color: #fff;
  display: inline-block;
  margin: 0 5px;
  transform-origin: bottom;
  opacity: .1;
  -webkit-animation: beat 1s linear 0s infinite;
          animation: beat 1s linear 0s infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes beat {
  50% {
    transform: scaleY(0);
  }
}

@keyframes beat {
  50% {
    transform: scaleY(0);
  }
}

#tracklist .tracklist-content .beat_animation li:nth-child(1) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

#tracklist .tracklist-content .beat_animation li:nth-child(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

#tracklist .tracklist-content .beat_animation li:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

#tracklist .tracklist-content .list_block.isPlaying {
  border: 1px solid #EEA754;
  box-shadow: 0 5px 25px #EEA7545e, 0 0 15px #EEA7545e;
  background-color: #EEA75422;
}

/*Play Button*/
#tracklist .tracklist-content span.play_btn {
  text-align: center;
}

#tracklist .tracklist-content span.play_btn i {
  cursor: pointer;
  border-radius: 50px;
  transition: all ease 0.5s;
}
#tracklist .tracklist-content span.play_btn .fa-pause {
  display: none;
}
#tracklist .tracklist-content .list_block.isPlaying span.play_btn i {
  box-shadow: 0 5px 25px #EEA754, 0 0 15px #EEA754;
  background: #EEA7545e;
}

/*Hide Audio Track*/
#tracklist .tracklist-content .list_block .track {
  display: none;
}

@media (max-width: 1545px) {
  #tracklist .tracklist-content .title span:nth-child(6),
  #tracklist .tracklist-content .list_block span:nth-child(6) {
    display: none;
  }

  #tracklist .tracklist-content .title span:nth-child(1),
  #tracklist .tracklist-content .list_block span:nth-child(1) {
    width: 8%;
  }

  #tracklist .tracklist-content .title span:nth-child(2),
  #tracklist .tracklist-content .list_block span:nth-child(2) {
    width: 20%;
  }

  #tracklist .tracklist-content .title span:nth-child(3),
  #tracklist .tracklist-content .list_block span:nth-child(3) {
    width: 10%;
  }

  #tracklist .tracklist-content .title span:nth-child(4),
  #tracklist .tracklist-content .list_block span:nth-child(4) {
    width: 27%;
  }

  #tracklist .tracklist-content .title span:nth-child(5),
  #tracklist .tracklist-content .list_block span:nth-child(5) {
    width: 25%;
  }
}
@media (max-width: 1466px) {
  #tracklist nav ul.left {
    display: none;
  }
}

@media (max-width: 900px) {
  #tracklist .tracklist-content .title span:nth-child(4),
  #tracklist .tracklist-content .list_block span:nth-child(4) {
    display: none;
  }
  #tracklist .tracklist-content .title span:nth-child(7),
  #tracklist .tracklist-content .list_block span:nth-child(7) {
    display: none;
  }
  #tracklist .tracklist-content .title span:nth-child(3),
  #tracklist .tracklist-content .list_block span:nth-child(3) {
    width: 30%;
  }
  #tracklist .tracklist-content .title span:nth-child(2),
  #tracklist .tracklist-content .list_block span:nth-child(2) {
    width: 30%;
  }
}

@media (max-width: 813px) {
  #tracklist header p:nth-of-type(1){
    display: none;
  }
  #tracklist header p:nth-of-type(2){
    display: block;
    line-height: 26px;
    font-weight: 500;
    padding: 0;
  }
}

@media (max-width: 745px) {
  #tracklist .tracklist-content .title span:nth-child(2),
  #tracklist .tracklist-content .list_block span:nth-child(2) {
    width: 40%;
  }
  #tracklist .tracklist-content .title span:nth-child(3),
  #tracklist .tracklist-content .list_block span:nth-child(3) {
    width: 25%;
  }
}

@media (max-width: 480px) {
  #tracklist .tracklist-content .list_block .shopping_btn {
    font-size: .5rem;
  }
  #tracklist .tracklist-content .title span:nth-child(3),
  #tracklist .tracklist-content .list_block span:nth-child(3) {
    width: 30%;
    padding-left: 1rem;
  }
  #tracklist .tracklist-content .title span:nth-child(2),
  #tracklist .tracklist-content .list_block span:nth-child(2) {
    width: 20%;
    padding-right: 1rem;
  }
}

@media (max-width: 480px) {
  #tracklist .tracklist-content .title span:nth-child(3),
  #tracklist .tracklist-content .list_block span:nth-child(3) {
    display: none;
  }
  #tracklist .tracklist-content .title span:nth-child(2),
  #tracklist .tracklist-content .list_block span:nth-child(2) {
    width: 60%;
  }
}

@media (max-width: 480px) {
  #tracklist .tracklist-content .title span:nth-child(2),
  #tracklist .tracklist-content .list_block span:nth-child(2) {
    width: 50%;
  }
}

 /* === LICENSE-BEREICH === */

 #license {
   background-image: linear-gradient(to bottom, #000000 70%, #141213, #201e20, #2b292d, #36363b, #47474c, #6b695461);
   border-bottom: 1px solid black;
  }


/* #license .row > .col-1:nth-of-type(1) {
  margin-left: 8.3%;
} */

.license-box-head {
 text-align: center;
 color: #fff;
 border: 1px solid grey;
 border-bottom: 0;
 border-top-right-radius: 28px;
 border-top-left-radius: 27px;
 padding-top: 2rem;
 padding-bottom: 1rem;
 text-shadow: 15px 20px 15px black;
}

.license-box-head > h2 {
 margin: 0;
 font-size: 22px;
}

.license-box-head > h3 {
  font-size: 42px;
  margin: 0;
}

.license-box-head > h4 {
  font-size: 13px;
  margin-top: 0;
}

.license-box {
 border: .5px solid #fff;
 border-radius: 30px;
 box-shadow: 0 5px 25px #3D3F45;
 /* height: 530px;   */
 width: 99%;
 max-width: 100%!important;
 color: #fff;
 font-size: .85rem;
 text-shadow: 15px 20px 10px #3D3F45;
}

.license-box:hover {
  box-shadow: 0 0 30px 10px #EEA7545e, 0 0 15px #EEA7545e;
  color: #fff;
  background: #EEA7545e;
  text-shadow: 15px 20px 15px #000;
}

.license-box #more {
  display: none;
}

.license-box > span > ul > li {
 margin-bottom: 15px;
}

#license > .container > .row > .col-6 > .leistungs-box-license {
  width: 30%;
  background: none;
  /* border: .5px solid #fff;
  box-shadow: 0 0 30px 10px #000; */
  margin-left: 35%;
}

#license > .container > .row > .col-6 > .leistungs-box-license > h2 {
  font-size: 20px;
  padding-top: 0;
  margin-top: 0;
}

#license > .container > .row > .col-6 > .leistungs-box-license > a {
  border: 1px solid #fff;
}

#license > .container > .row > .col-6 > .leistungs-box-license > a:nth-of-type(2) {
  display: none;
  border: 1px solid #fff;
}

#license > .container > .row > .col-6 > .leistungs-box-license > a:hover {
  color: #fff;
  font-weight: bold;
  border-color: #F89C32;
  box-shadow: 0 5px 25px rgb(255 179 93 / .5),  0 0 25px rgb(255 179 93 / .5);
  background: rgb(255 179 93 / .5);
}

#license > .container > .row > .col-1 > .license-box > button {                    /*deaktivieren*/
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-bottom: 7%;
  background: transparent;
  outline: none;
}

#license > .container > .row > .col-1 > .license-box > button:link {
  color: #fff;
  font-size: bold;
}

#license > .container > .row > .col-1 > .license-box > button:visited {
  color: #fff;
}

#license > .container > .row > .col-1 > .license-box > button:active{
  color: #ffffff;
}

#license > .container > .row > .col-1 > .license-box > button:hover {
  color: #fff;
  font-weight: bold;
  border: 2px solid #c05b08;
}

.leistungs-box-license {
  background-color: #18191A;
  text-align: center;
  color: #fff;                        /* !!!! COLOR MUSS RESPONSIVE ANGEPASST WERDEN !!!! */
  padding: 1rem 3rem 2.5rem;
  width: 60%;
  margin-bottom: 1.6rem;
  border-radius: 30px;
  letter-spacing: 1px;
}

.leistungs-box-license-license:hover {
  box-shadow: 0 0 30px 10px #3D3F45;
  color: #fff;
  width: 61%;
}

#leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-box {
  margin-left: 1rem;
  margin-right: auto;
}

#leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-box {
  margin-right: 1rem;
  margin-left: auto;
}

.leistungs-box-license > h2 {
  font-size : 1.6rem;
}

 .leistung-ansehen-btn {                 /* !!!! COLOR MUSS RESPONSIVE ANGEPASST WERDEN !!!! */
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  height: 40px;
  border: 2px solid #fff;
  padding-top: .4rem;
  width: 25%;
  margin-top: .5rem;
  border-radius: 20px;
}

.leistung-ansehen-btn:link {
  color: #ffbf80;
  font-size: bold;
}

.leistung-ansehen-btn:visited {
  color: #fff;
}

.leistung-ansehen-btn:active{
  color: #ffffff;
}

.leistung-ansehen-btn:hover {
  color: #fff;
  font-weight: bold;
  border: 2px solid #c05b08;
}

@media (max-width: 1920px) {
  section > .container > .row > .col-1 {
    width: 19.9%;
  }
  #license > .container > .row > .col-1 > .license-box > button {
    display: none;
  }
  .license-box #more {
    display: inline-block;
    height: 380px;
  }
}

@media (min-width: 1920px) {
  section > .container > .row > .col-1 {
    width: 19.9%;
  }
}

@media (max-width: 1590px) {
  section > .container > .row > .col-1 {
    width: 25%;
  }
  #license .row > .col-1:nth-of-type(4) {
   margin-left: 25%;
  }
  #license .row > .col-1:nth-of-type(1) {
  margin-left: 12.5%;
  }
}

@media (max-width: 1370px) {
  section > .container > .row > .col-1 {
    width: 30%;
  }
  #license .row > .col-1:nth-of-type(4) {
   margin-left: 20%;
  }
  #license .row > .col-1:nth-of-type(1) {
  margin-left: 5%;
  }
  .caption-license > h1 {
    padding-top: 24px;
  }
  #license {
    padding-top: 1rem;
  }
}

@media (max-width: 1194px) {
  #license > .container > .row > .col-6 > .leistungs-box-license {
    width: 60%;
    margin-left: 20%;
  }
}

@media (min-width: 1077px) {
  #license > .container > .row > .col-6 > .leistungs-box-license {
    width: 50%;
    margin-left: 25%;
  }
}

@media (max-width: 1024px) {
  section > .container > .row > .col-1 {
    width: 33%;
  }
  #license .row > .col-1:nth-of-type(4) {
   margin-left: 17%;
  }
  #license .row > .col-1:nth-of-type(1) {
  margin-left: 1%;
  }
}

@media (max-width: 897px) {
  section > .container > .row > .col-1 {
    width:50%;
  }
  #license .row > .col-1:nth-of-type(4) {
   margin-left: 0;
  }
  #license .row > .col-1:nth-of-type(1) {
  margin-left: 0;
  }
  #license .row > .col-1:nth-of-type(5) {
  margin-left: 25%;
  }
}

@media (min-width: 807px) {
  #license > .container > .row > .col-6 > .leistungs-box-license {
    width: 48%;
    margin-left: 26%;
  }
}

@media (max-width: 615px) {
  #license > .container > .row > .col-6 > .leistungs-box-license > a:nth-of-type(1){
    display: none;
  }
  #license > .container > .row > .col-6 > .leistungs-box-license > a:nth-of-type(2){
    display: inline;
  }
}

@media (max-width: 598px) {
  section > .container > .row > .col-1 {
    width: 80%;
    margin-left: 10%!important;
  }
  #license .row > .col-1:nth-of-type(4) {
   margin-left: 0;
  }
  #license .row > .col-1:nth-of-type(1) {
  margin-left: 0;
  }
  #license .row > .col-1:nth-of-type(5) {
  margin-left: 0%;
  }
  #license > .container > .row > .col-1 > .license-box > button {
    display: block;
  }
  .license-box #more {
    display: none;
  }
}

@media (max-width: 422px) {
  #license > .container > .row > .col-6 > .leistungs-box > a {
    font-size: .7rem;
  }
  #license > .container > .row > .col-6 > .leistungs-box-license > a:nth-of-type(2){
    margin: 0;
  }
  #license > .container > .row > .col-6 > .leistungs-box-license {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 372px) {
  section > .container > .row > .col-1 {
    width: 100%;
    margin-left: 0%!important;
  }
  #license .row > .col-1:nth-of-type(4) {
   margin-left: 0;
  }
  #license .row > .col-1:nth-of-type(1) {
  margin-left: 0;
  }
  #license .row > .col-1:nth-of-type(5) {
  margin-left: 0%;
  }
  #license > .container > .row > .col-6 > .leistungs-box {
    width: 100%;
    margin: 0;
  }
}


  /* === FOOTER === */

#footer {
  background: #858f91;
}

#footer > .container > .row > .col-2 > .footer-left > ul > li:nth-of-type(1) {
  padding-right: 2rem;
}

#footer > .container > .row > .col-2 > .footer-left {
  display: flex;
}

#footer > .container > .row > .col-2 > .footer-left > ul > li {
  display: inline;
  list-style-type: none;
  font-size: .7rem;
}

#footer > .container > .row > .col-2 > .footer-right {
  display: flex;
  height: 58px;
}

#footer > .container > .row > .col-2 > .footer-left > ul > li:nth-of-type(n) {
  margin-left: .25rem;
  margin-right: .25rem;
}

#footer > .container > .row > .col-2 > .footer-left > ul > li:nth-of-type(1) {
 color: #505050;
}

#footer > .container > .row > .col-2 > .footer-middle > ul > li {
  display: inline;
  padding-left: 1rem;
}

#footer > .container > .row > .col-2 > .footer-middle > ul > li > a {
  text-decoration: none;
}

#footer > .container > .row > .col-2 > .footer-middle > ul > li > a > .pj-beatstars {
  font-family: beatstars-icon;
  font-size: 1.5rem;
}

#footer > .container > .row > .col-2 > .footer-middle > ul > li > a > .fa {
  font-family: fontAwesome;
  font-size: 1.5rem;
}

#footer > .container > .row > .col-2 > .footer-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footer > .container > .row > .col-2 > .footer-right{
  display: flex;
  list-style-type: none;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 3.5rem;
  font-size: .7rem;
  text-decoration: none;
}

#footer > .container > .row > .col-2 > .footer-right > ul > li {
  display: inline;
}

#footer > .container > .row > .col-2 > .footer-left > ul > li > a:visited {
  color: #000;
}

#footer > .container > .row > .col-2 > .footer-middle > ul > li > a:visited {
  color: #000;
}

#footer > .container > .row > .col-2 > .footer-right > ul > li > a:visited {
  color: #000;
}

#footer ul > li > a:link {
  color: #000;
  text-decoration: none;
}

#footer ul > li > a:active {
  color: #000;
  text-decoration: none;
}

#footer ul > li > a:hover {
  text-decoration: none;
  border-bottom: 1px solid #c05b08;
  color: #c05b08;
  border-top: 1px solid #c05b08;
  color: #c05b08;
}

#footer > .container > .row > .col-2 > .footer-middle > ul > li > a:hover {
  text-decoration: none;
  border-top: none;
  border-bottom: 3px solid #c05b08;;
}

@media (min-width: 200px) {
  #footer > .container > .row > .col-2 > .footer-left {
    justify-content: center;
    align-items: center;
  }
  #footer > .container > .row > .col-2 > .footer-right {
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}

 /* === Impressum === */

#impressum {
  background-image: linear-gradient(to bottom, #18191A 96%, #6b695461);
  border-bottom: 1px solid black;
  color: #fff;
}

 #impressum a {
   color: #EEA75462;
   text-decoration: none;
   font-weight: bold;
 }

 /* === CONTACT-PAGE=== */

#contact-bereich {
  background-image: linear-gradient(to bottom, #18191A 96%, #6b695461);
  border-bottom: 1px solid black;
}

#contact-formular input,
#contact-formular textarea {
 width: 100%;
 background-color: #EEA75462;
 border: 1px solid #EEA754;
 border-radius: 5px;
 color: #18191A;
 padding: 1rem;
 font-size: 1rem;
 letter-spacing: .8px;
 font-family: 'Permanent Marker', cursive;
 font-family: 'Rubik', sans-serif;
}

#contact-formular textarea{
  height: 150px;
}

#contact-formular input::-moz-placeholder {
 color: #FFF;
}

#contact-formular input:-ms-input-placeholder {
 color: #FFF;
}

#contact-formular input::placeholder {
 color: #FFF;
}

#contact-formular textarea::-moz-placeholder {
 color: #fff;
}

#contact-formular textarea:-ms-input-placeholder {
 color: #fff;
}

#contact-formular textarea::placeholder {
 color: #fff;
}

#contact-bereich .intro-contact {
 color: #fff;
 width: 100%;
 text-align: center;
 text-shadow: 15px 20px 5px black;
 font-weight: 100;
 margin-left: auto;
 margin-right: auto;
}

#contact-bereich .intro-contact > h1 {
 font-size: 1.6rem;
}

#contact-bereich .intro-contact > p {
 font-size: 1.3rem;
 letter-spacing: .8px;
}

#contact-bereich .intro-contact > p  {
 border-bottom: 1px solid #fff;
 padding-bottom: 2rem;
}

#contact-bereich .intro-contact > h1 {
 margin-top: 0;
}

#contact-bereich .intro-contact > h1 h2 {
 text-shadow: 15px 20px 5px black;
}

#contact-formular {
 color: #fff;
 width: 70%;
 text-shadow: 15px 20px 5px black;
 font-weight: 100;
 font-size: 1.3rem;
 letter-spacing: .8px;
 margin-left: auto;
 margin-right: auto;
}

#contact-formular button {
  margin-left: 47%;
  display: block;
  padding: 1rem;
  color: #18191A;
  border: 2px solid #fff;
  border-radius: 15px;
  font-weight: bold;
  outline: none;
}

@media (max-width: 1600px) {
 #contact-formular, #contact-bereich .intro-contact {
   width: 80%;
 }
}

@media (max-width: 1370px) {
  #contact-formular button {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 1024px) {
 #contact-formular, #contact-bereich .intro-contact {
   width: 90%;
 }
}

@media (max-width: 1100px) {
  #contact-formular button {
    margin-left: 45%;
  }
}

@media (max-width: 900px) {
 #contact-formular, #contact-bereich .intro-contact {
   width: 100%;
 }
}

@media (max-width: 768px) {
 #contact-formular, #contact-bereich .intro-contact > h2 {
   margin-bottom: 0;
 }
}

@media (max-width: 740px) {
  #contact-formular button {
    margin-left: 25%;
    width: 50%;
  }
}

 /* === GRID-SYSTEM === */

 .container {
   width: 95%;
   margin-left: auto;
   margin-right: auto;
 }

 .row::after {
   content: "";
   clear: both;
   display: block;
 }

 [class*='col-'] {
   float: left;
   min-height: 1px;
   padding: .8rem;
 }

 .col-1 { width: 16.666%; }
 .col-2 { width: 33.333%; }
 .col-3 { width: 50%;     }
 .col-4 { width: 66.666%; }
 .col-6 { width: 100%;    }

 /*


 === WICHTIGE BREAKPOINTS ===

 480 Pixel     (Smartphone Querformat)
 768 Pixel     (Tablet Hochformat)
 1024 Pixel    (Tablet Querformat)

 */

 @media (max-width: 1024px) {
   .col-1 { width: 33.333%; }
 }

 @media (max-width: 768px) {
   .col-1 { width: 50%;  }
   .col-2 { width: 100%; }
   .col-3 { width: 100%; }
   .col-4 { width: 100%; }
 }

 @media (max-width: 480px) {
   .col-1 { width: 100%;  }
   .col-2 { width: 100%; }
   .col-3 { width: 100%; }
   .col-4 { width: 100%; }
 }
